<p><%= I18n.t('users.mailer.welcome',:email => @resource.email)%><p>

<p><%= I18n.t('users.mailer.message')%></p>

<p><%= link_to I18n.t('users.mailer.confirm'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
