/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
.error-message, label.error {
  color: #ff0000;
  margin:0;
  display: inline;
  font-size: 1em !important;
  font-weight:lighter;
}

/*
* Inicial Show
*/

.panel {
  background: none repeat scroll 0 0 #F4F4F4;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 4px #DDDDDD inset;
  margin-bottom: 20px;
}

.panel div {
  padding: 3px 15px 15px;
}

.panel_contents table {
  margin-top: 5px;
  width: 100%;
}


.panel_contents table th {
  background: none repeat scroll 0 0 transparent;
  border-bottom: 1px solid #CCCCCC;
  box-shadow: none;
  color: #5E6469;
  padding-top: 10px;
  text-shadow: 0 1px 0 white;
  text-transform: uppercase;
  text-align:left;  
}

.attributes_table table th, .attributes_table table td {
  border-bottom: 1px solid #E8E8E8;
  padding: 8px 12px 6px;
  vertical-align: top;
}
.attributes_table table th {
  background: none repeat scroll 0 0 transparent;
  box-shadow: none;
  color: #5E6469;
  font-size: 0.9em;
  padding-left: 0;
  text-shadow: 0 1px 0 white;
  text-transform: uppercase;
  width: 150px;
}

/*
* fin Show
*/


/*
* inicial table 
*/

table.index_table {
    border: 0 none;
    border-spacing: 0;
    margin-bottom: 10px;
    width: 100%;
}

table.index_table th {
    background: -moz-linear-gradient(-90deg, #EFEFEF, #DFE1E2) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #EDEDED;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    color: #5E6469;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    line-height: 140%;
    margin-bottom: 0.5em;
    padding: 5px 12px 3px;
    text-align: left;
    text-decoration: underline;
    text-shadow: 0 1px 0 white;

}

table.index_table th a, table.index_table th a:link, table.index_table th a:visited {
    color: #5E6469;
    display: block;
    text-decoration: none;
}

table.zebra tr:nth-child(even){
  background: none repeat scroll 0 0 #F4F5F5;
}
 
table.index_table td {
    border-bottom: 1px solid #E8E8E8;
    padding: 10px 12px 8px;
    vertical-align: top;
}

/*
* fin table
*/
