<p><%= I18n.t('devise.mailer.confirmation')%><%= @resource.email%>!</p>

<p><%= I18n.t('devise.mailer.mesagge') %></p>

<p><%= link_to I18n.t('devise.mailer.confirmation.confirm'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
