<p><%= I18n.t('users.unlock.hello',:email => @resource.email) %></p>

<p><%= I18n.t('users.unlock.message') %></p>

<p><%= I18n.t('users.unlock.message2') %></p>

<p><%= link_to I18n.t('users.unlock.unlock'), unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
